body {
  padding-top: 20px;
  background-color: #ddd
}

a {
	color: #333;
}

a:hover {
	color:#333;
	text-decoration: none;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
margin-right: auto;
margin-left: auto;
}

.navbar-default .navbar-brand {
	color: #333;

}

.navbar-header {
	width: 200px;
	clear: both;
	float: none;

}

.navbar-brand {
	font-size: 28px;
	line-height: 30px;
}

.navbar-default {
	border: 0px;
	background-color: transparent;
	margin-bottom: 80px;
	border-radius: 0px;
	border-bottom: 1px solid #333;
}

.content-list{
	overflow: hidden;
	max-width: 375px;
	margin: 0 auto;
	margin-bottom: 50px;
} 

.list-collapse {
	height: 41px;
}

.content-header {
	/*background-color: #fdf;*/
	border-bottom: 1px solid #333;
	margin-left: 0;
	margin-right: 0;
	color: #333;
	line-height: 40px;
	cursor: pointer;
	margin-bottom: 6px;

}

.content-header:hover{
	background-color: #eee;
}

.content-header-icon {
}

.genericon:before {
	font-size: 32px;
}

.genericon {
	line-height: inherit;
	height: 32px;
	width: 32px;
}

.content-header-title {
	font-size: 24px;
	margin-left: -15px;

}

.content-header-drop {
	margin-left: -5px;
	padding-left: 0px;
}

.content-item-title {
	font-size: 21px;
	line-height: 40px;
}

.title-row {
	margin-left: 0px;
	margin-right: 0px;
}

.content-item:hover{
	background-color: #eee;
	cursor: pointer;
}

.content-item-des {
	margin-top: -10px;
}



/*#social-title {
	background-color: #2980b9; 
}

#social-title:hover {
	background-color: #006096; 
}

#projects-title {
	background-color: #c1272c;
}

#projects-title:hover{
	background-color: #990000;
}

#snippets-title {
	background-color: #c1272c;
}

#snippets-title:hover{
	background-color: #990000;
}

#photo-title {
	background-color: #2980b9; 
}

#photo-title:hover {
	background-color: #006096; 
}*/

.genericon-facebook, .genericon-github, .genericon-mail{
	padding-right: 50px;
}